# Custom config file for users to define
# Empty fields will not be read
[basic]
refpkg_path      =
alignment_method =
placement_method =
pplacer_path     =
bscampp_path     =
blastn_path      =
witch_path       =

[witch]
mode                    =
num_hmms                =
use_weight              =
save_weight             =
bypass_setup            =
alignment_size          =
alignment_upper_bound   =

[bscampp]
subtreesize =
support_value =
cpus_per_job =

[pplacer-taxtastic]
support_value =

[blast]
threshold =

[refpkg]
exclusion=
